@import "../../Style/Common.scss";

.founder {
 .founder_bg{
  background-color: $white_150;
  position: relative;
  z-index: 1;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 450px;
    bottom: 0;
    border: 1px dashed $primary-color;
    @include sm{
      left: 250px;
    }
    @include xxsm {
     left: 150px;
    }
  }
  &::after{
    content: '';
    position: absolute;
    bottom: 90px;
    left: 270px;
    right: 0;
    border: 1px solid $primary-color;
    @include sm{
      left: 100px;
    }
  }
  .secondary_bg{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $secondary-color;
    width: 270px;
    z-index: -1;
    @include sm{
      width: 100px;
    }
  }
  .slider_wrapper{
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding-left: 80px;
    @include sm{
      padding-left: 50px;
    }
    @include xsm{
      padding-left: 0px;
    }
    .founder_slider{
      padding: 130px 0px 180px;
      z-index: 5;
      @include xsm{
        padding: 100px 0px;
      }
      .founder_heading{
        margin-bottom: 81px;
        @include md{
          font-size: 30px;
          line-height: 40px;
          margin-bottom: 50px;
        }
        @include xsm{
          font-size: 22px;
          line-height: 30px;
          margin-bottom: 40px;
        }
      }
      .slides {
        .slides_card {
          display: flex;
          align-items: center;
          padding: 0px 16px;
          @include md {
            flex-direction: column;
          }
          .slides_img {
            max-width: 330px;
            overflow: hidden;
            object-fit: cover;
            @include md {
              min-width: 340px;
            }
            @include xxsm {
              min-width: 280px;
            }
            img {
              display: block;
              width: 100%;
              height: 100%;
              overflow: hidden;
              object-fit: cover;
            }
          }
          .founder_content {
            background-color: $white-100;
            padding: 40px 40px 68px;
            min-height: 450px;
            @include md {
              padding: 20px 10px 20px;
              min-height: 200px;
            }
            @include xxsm {
              max-width: 330px;
            }
            .founder_logo {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 117px;
              height: 117px;
              border-radius: 50%;
              border: none;
              background-color: $white;
              margin-bottom: 30px;
              @include md {
                width: 80px;
                height: 80px;
                margin-bottom: 15px;
              }
              .logo_name {
                font-family: $urb-600rg;
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
                color: $text_logo;
              }
            }
            .founder_heading_six {
              color: $primary-color;
              max-width: 320px;
              margin-bottom: 68px;
              @include md {
                margin-bottom: 30px;
              }
            }
            .founder_intro {
              .founder_name {
                color: $primary-color;
                line-height: 16px;
              }
              .founder_company {
                color: $primary-color;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }
 }


  .slick-arrow.slick-next {
    background-image: url(../../Assets/Images/Rightarrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 24px;
    border: 1px solid $border-first;
    border-radius: 50%;
    position: absolute;
    left: 85%;
    z-index: 4;
    top: -25%;
    @include lg {
      padding: 20px;
      top: -24%;
    }
  }
  .slick-arrow.slick-prev {
    background-image: url(../../Assets/Images/Leftarrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 24px;
    border: 1px solid $border-first;
    border-radius: 50%;
    position: absolute;
    left: 80%;
    z-index: 1;
    top: -25%;
    @include lg {
      padding: 20px;
      top: -24%;
    }
  }
  .slick-arrow.slick-next:before,
  .slick-arrow.slick-prev:before {
    font-size: 0;
  }
  .slick-slide {
    max-width: 770px;
  }
}
