@import "../../Style/Common.scss";


.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 26px 40px;
    z-index: 10;
    transition: all 0.45s;
    @include md{
        top: 0;
    }
    @include xsm{
        padding: 20px 20px;
    }
    .navbar{
        padding: 0;
        .container-fluid{
            .navbar-brand{
                padding: 0;
                margin-right: 100px;
                @include xxsm{
                    margin-right: 0;
                }
            }
            .navbar-toggler{
                .menuicon{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                   gap: 7px;
                   border: 1px solid $white;
                   padding: 10px;
                   border-radius: 10px;
                    .line{
                        width: 25px;
                        border: 1px solid $white;
                    }
                }
            }
        }
        .navbar-nav{
            .nav-link{
                font-family: $urb-600rg;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 22px;
                text-align: center;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: $white;
                margin-right: 30px;
                padding: 0;
                transition: all 0.4s;
                @include md{
                    text-align: start;
                }
                &:hover{
                    color: $secondary-color;
                }
            }
        }
    }
    .navbar-toggler{
        border: none;
        padding: 0;
        &:focus,:hover{
            box-shadow: none;
        }
    }
}