@import "../../Style/Common.scss";

.footer {
  background-color: $white_150;
  padding: 25px 40px;
  @include sm {
    padding: 15px 20px;
  }
  .Ft_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include md {
      flex-direction: column;
      justify-content: center;
    }
    @include xsm {
      gap: 10px;
    }
    .ft_left {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
      @include xsm {
        gap: 10px;
        flex-direction: column;
      }
      .ft_logo {
        object-fit: cover;
        .ft_icon {
          display: block;
          overflow: hidden;
          object-fit: cover;
          width: 100%;
          height: 100%;
          max-width: 120px;
          @include sm {
            max-width: 80px;
          }
        }
      }
      .ft_copyright {
        font-family: $urb-400rg;
        font-size: 14px;
        line-height: 24px;
        color: $primary-color;
        @include xsm {
          text-align: center;
        }
      }
    }
    .ft_right {
      display: flex;
      align-items: center;
      gap: 40px;
      @include xsm {
        gap: 10px;
        flex-direction: column;
      }
      .Contact {
        font-family: $urb-600rg;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $border-first;
      }
      .carfted {
        font-family: $urb-600rg;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $primary-color;
        .crafted_text {
          color: $border-first;
        }
      }
    }
  }
}
